In [10]:
import pandas as pd

In [11]:
koi_df = pd.read_csv("../data/cumulative_2025.09.21_17.22.39.csv", skiprows=144)
toi_df = pd.read_csv("../data/TOI_2025.09.21_17.24.45.csv", skiprows=90)
k2_df = pd.read_csv("../data/k2pandc_2025.09.21_17.26.00.csv", skiprows=298)

In [12]:
koi_df = koi_df[['koi_period', 'koi_time0bk', 'koi_duration', 'koi_depth', 'koi_prad', 'koi_insol', 'koi_teq', 'koi_steff', 'koi_slogg', 'koi_srad', 'koi_disposition']]
koi_df = koi_df.rename(columns={
    'koi_period': 'orbital_period',
    'koi_time0bk': 'transit_epoch',
    'koi_duration': 'transit_duration',
    'koi_depth': 'transit_depth',
    'koi_prad': 'planet_radius',
    'koi_insol': 'insolation_flux',
    'koi_teq': 'equilibrium_temp',
    'koi_steff': 'effective_temp',
    'koi_slogg': 'surface_gravity',
    'koi_srad': 'stellar_radius',
    'koi_disposition': 'disposition'
})
koi_df['dataset'] = 'KOI'
koi_df.shape

(9564, 12)

In [13]:
toi_df = toi_df[['pl_orbper', 'pl_tranmid', 'pl_trandurh', 'pl_trandep', 'pl_rade', 'pl_insol', 'pl_eqt','st_teff', 'st_logg', 'st_rad', 'tfopwg_disp']]
toi_df = toi_df.rename(columns={
    'pl_orbper': 'orbital_period',
    'pl_tranmid': 'transit_epoch',
    'pl_trandurh': 'transit_duration',
    'pl_trandep': 'transit_depth',
    'pl_rade': 'planet_radius',
    'pl_insol': 'insolation_flux',
    'pl_eqt': 'equilibrium_temp',
    'st_teff': 'effective_temp',
    'st_logg': 'surface_gravity',
    'st_rad': 'stellar_radius',
    'tfopwg_disp': 'disposition'
})
toi_df['dataset'] = 'TOI'
toi_df.shape

(7668, 12)

In [14]:
k2_df = k2_df[['pl_orbper', 'pl_tranmid', 'pl_trandur', 'pl_trandep', 'pl_rade', 'pl_insol', 'pl_eqt','st_teff', 'st_logg', 'st_rad', 'disposition']]
k2_df = k2_df.rename(columns={
    'pl_orbper': 'orbital_period',
    'pl_tranmid': 'transit_epoch',
    'pl_trandur': 'transit_duration',
    'pl_trandep': 'transit_depth',
    'pl_rade': 'planet_radius',
    'pl_insol': 'insolation_flux',
    'pl_eqt': 'equilibrium_temp',
    'st_teff': 'effective_temp',
    'st_logg': 'surface_gravity',
    'st_rad': 'stellar_radius',
    'disposition': 'disposition'
})
k2_df['dataset'] = 'K2'
k2_df.shape

(3992, 12)

In [15]:
df = pd.concat([koi_df, toi_df], ignore_index=True)
df = df.drop(columns=['insolation_flux', 'equilibrium_temp', 'surface_gravity', 'stellar_radius', 'effective_temp'])
df

,orbital_period,transit_epoch,transit_duration,transit_depth,planet_radius,disposition,dataset
0,9.488036,1.705387e+02,2.957500,615.800000,2.260000,CONFIRMED,KOI
1,54.418383,1.625138e+02,4.507000,874.800000,2.830000,CONFIRMED,KOI
2,19.899140,1.758503e+02,1.782200,10829.000000,14.600000,CANDIDATE,KOI
3,1.736952,1.703076e+02,2.406410,8079.200000,33.460000,FALSE POSITIVE,KOI
4,2.525592,1.715956e+02,1.654500,603.300000,2.750000,CONFIRMED,KOI
...,...,...,...,...,...,...,...
17227,3.443800,2.458494e+06,2.572000,7260.750000,NaN,FP,TOI
17228,14.537800,2.458495e+06,6.826000,4040.000000,16.052300,FP,TOI
17229,8.413486,2.459230e+06,3.556833,17479.605331,20.510696,FP,TOI
17230,0.941436,2.459230e+06,1.360700,339.912662,4.529209,FP,TOI
17231,1.507896,2.459986e+06,2.759000,1839.000000,5.530910,FP,TOI

In [16]:
df.shape

(17232, 7)

In [17]:
df = df.dropna()
df.shape

(16259, 7)

In [18]:
df

,orbital_period,transit_epoch,transit_duration,transit_depth,planet_radius,disposition,dataset
0,9.488036,1.705387e+02,2.957500,615.800000,2.260000,CONFIRMED,KOI
1,54.418383,1.625138e+02,4.507000,874.800000,2.830000,CONFIRMED,KOI
2,19.899140,1.758503e+02,1.782200,10829.000000,14.600000,CANDIDATE,KOI
3,1.736952,1.703076e+02,2.406410,8079.200000,33.460000,FALSE POSITIVE,KOI
4,2.525592,1.715956e+02,1.654500,603.300000,2.750000,CONFIRMED,KOI
...,...,...,...,...,...,...,...
17226,2.396722,2.459230e+06,3.945317,384.898547,3.838449,FP,TOI
17228,14.537800,2.458495e+06,6.826000,4040.000000,16.052300,FP,TOI
17229,8.413486,2.459230e+06,3.556833,17479.605331,20.510696,FP,TOI
17230,0.941436,2.459230e+06,1.360700,339.912662,4.529209,FP,TOI
17231,1.507896,2.459986e+06,2.759000,1839.000000,5.530910,FP,TOI

In [19]:
df['disposition'].value_counts()

disposition
FALSE POSITIVE    4582
PC                4266
CONFIRMED         2744
CANDIDATE         1875
FP                1069
CP                 670
KP                 549
APC                420
FA                  84
Name: count, dtype: int64

In [20]:
# Drop rows with disposition other than 'CANDIDATE' or 'CONFIRMED'
df = df[df['disposition'].isin(['CANDIDATE', 'CONFIRMED', 'PC', 'CP', 'KP'])]
df.shape

(10104, 7)

In [21]:
df['disposition'].value_counts()

disposition
PC           4266
CONFIRMED    2744
CANDIDATE    1875
CP            670
KP            549
Name: count, dtype: int64

In [23]:
# Change the values of the disposition column to 0 where it is CONFIRMED or CP or KP and 1 where it is CANDIDATE or PC
df.loc[:,'disposition'] = df['disposition'].replace({'CONFIRMED': 0, 'CP': 0, 'KP': 0, 'CANDIDATE': 1, 'PC': 1})
df['disposition'].value_counts()

disposition
1    6141
0    3963
Name: count, dtype: int64