In [1]:
import pandas as pd

In [12]:
koi_df = pd.read_csv("../data/cumulative_2025.09.21_17.22.39.csv", skiprows=144)
toi_df = pd.read_csv("../data/TOI_2025.09.21_17.24.45.csv", skiprows=90)
k2_df = pd.read_csv("../data/k2pandc_2025.09.21_17.26.00.csv", skiprows=298)

In [13]:
koi_df = koi_df[['koi_period', 'koi_time0bk', 'koi_duration', 'koi_depth', 'koi_prad', 'koi_insol', 'koi_teq', 'koi_steff', 'koi_slogg', 'koi_srad', 'koi_disposition']]
koi_df = koi_df.rename(columns={
    'koi_period': 'orbital_period',
    'koi_time0bk': 'transit_epoch',
    'koi_duration': 'transit_duration',
    'koi_depth': 'transit_depth',
    'koi_prad': 'planet_radius',
    'koi_insol': 'insolation_flux',
    'koi_teq': 'equilibrium_temp',
    'koi_steff': 'effective_temp',
    'koi_slogg': 'surface_gravity',
    'koi_srad': 'stellar_radius',
    'koi_disposition': 'disposition'
})
koi_df['dataset'] = 'KOI'
koi_df.shape

(9564, 12)

In [14]:
toi_df = toi_df[['pl_orbper', 'pl_tranmid', 'pl_trandurh', 'pl_trandep', 'pl_rade', 'pl_insol', 'pl_eqt','st_teff', 'st_logg', 'st_rad', 'tfopwg_disp']]
toi_df = toi_df.rename(columns={
    'pl_orbper': 'orbital_period',
    'pl_tranmid': 'transit_epoch',
    'pl_trandurh': 'transit_duration',
    'pl_trandep': 'transit_depth',
    'pl_rade': 'planet_radius',
    'pl_insol': 'insolation_flux',
    'pl_eqt': 'equilibrium_temp',
    'st_teff': 'effective_temp',
    'st_logg': 'surface_gravity',
    'st_rad': 'stellar_radius',
    'tfopwg_disp': 'disposition'
})
toi_df['dataset'] = 'TOI'
toi_df.shape

(7668, 12)

In [ ]:
k2_df = k2_df[['pl_orbper', 'pl_tranmid', 'pl_trandur', 'pl_trandep', 'pl_rade', 'pl_insol', 'pl_eqt','st_teff', 'st_logg', 'st_rad', 'disposition']]
k2_df = k2_df.rename(columns={
    'pl_orbper': 'orbital_period',
    'pl_tranmid': 'transit_epoch',
    'pl_trandur': 'transit_duration',
    'pl_trandep': 'transit_depth',
    'pl_rade': 'planet_radius',
    'pl_insol': 'insolation_flux',
    'pl_eqt': 'equilibrium_temp',
    'st_teff': 'effective_temp',
    'st_logg': 'surface_gravity',
    'st_rad': 'stellar_radius',
    'disposition': 'disposition'
})
k2_df['dataset'] = 'K2'
k2_df.shape

(3992, 12)

In [35]:
df = pd.concat([koi_df, toi_df, k2_df], ignore_index=True)
df = df.drop(columns=['insolation_flux', 'equilibrium_temp', 'surface_gravity', 'stellar_radius', 'effective_temp'])
df

,orbital_period,transit_epoch,transit_duration,transit_depth,planet_radius,disposition,dataset
0,9.488036,1.705387e+02,2.957500,615.800000,2.26000,CONFIRMED,KOI
1,54.418383,1.625138e+02,4.507000,874.800000,2.83000,CONFIRMED,KOI
2,19.899140,1.758503e+02,1.782200,10829.000000,14.60000,CANDIDATE,KOI
3,1.736952,1.703076e+02,2.406410,8079.200000,33.46000,FALSE POSITIVE,KOI
4,2.525592,1.715956e+02,1.654500,603.300000,2.75000,CONFIRMED,KOI
...,...,...,...,...,...,...,...
21219,2.655676,2.456813e+06,2.617200,1.487700,11.10000,CONFIRMED,K2
21220,6.001180,2.458185e+06,1.321000,NaN,2.03000,CONFIRMED,K2
21221,6.001270,2.458191e+06,1.330000,NaN,2.04300,CONFIRMED,K2
21222,NaN,2.460778e+06,1.647926,0.074436,1.75752,CONFIRMED,K2
21223,6.001270,2.458191e+06,NaN,NaN,2.04300,CONFIRMED,K2

In [36]:
df.shape

(21224, 7)

In [37]:
df = df.dropna()
df.shape

(17624, 7)

In [38]:
df

,orbital_period,transit_epoch,transit_duration,transit_depth,planet_radius,disposition,dataset
0,9.488036,1.705387e+02,2.95750,615.8000,2.26000,CONFIRMED,KOI
1,54.418383,1.625138e+02,4.50700,874.8000,2.83000,CONFIRMED,KOI
2,19.899140,1.758503e+02,1.78220,10829.0000,14.60000,CANDIDATE,KOI
3,1.736952,1.703076e+02,2.40641,8079.2000,33.46000,FALSE POSITIVE,KOI
4,2.525592,1.715956e+02,1.65450,603.3000,2.75000,CONFIRMED,KOI
...,...,...,...,...,...,...,...
21208,2.484194,2.456980e+06,1.98000,0.9200,11.80000,CONFIRMED,K2
21209,2.484198,2.460229e+06,1.51100,1.0361,13.34130,CONFIRMED,K2
21213,2.655678,2.456847e+06,2.59584,1.8700,13.89916,CONFIRMED,K2
21215,2.655685,2.456810e+06,2.60000,1.4900,10.60000,CONFIRMED,K2
21219,2.655676,2.456813e+06,2.61720,1.4877,11.10000,CONFIRMED,K2