In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("../data/exoplanet_data_cleaned.csv")
df

,orbital_period,transit_epoch,transit_duration,transit_depth,planet_radius,disposition,dataset
0,9.488036,1.705387e+02,2.957500,615.800000,2.26000,0,KOI
1,54.418383,1.625138e+02,4.507000,874.800000,2.83000,0,KOI
2,19.899140,1.758503e+02,1.782200,10829.000000,14.60000,1,KOI
3,2.525592,1.715956e+02,1.654500,603.300000,2.75000,0,KOI
4,11.094321,1.712012e+02,4.594500,1517.500000,3.90000,0,KOI
...,...,...,...,...,...,...,...
10099,4.985781,2.459229e+06,3.671241,690.342915,2.79204,1,TOI
10100,13.166014,2.459977e+06,4.668000,5697.000000,11.39130,1,TOI
10101,4.587386,2.459981e+06,4.360000,3321.000000,10.63370,1,TOI
10102,2.484323,2.459987e+06,1.999000,1476.000000,12.91910,1,TOI
10103,1.463502,2.459986e+06,1.518000,914.000000,4.75869,1,TOI

In [4]:
df.columns

Index(['orbital_period', 'transit_epoch', 'transit_duration', 'transit_depth',
       'planet_radius', 'disposition', 'dataset'],
      dtype='object')

In [4]:
# Run logistic regression to predict disposition using the other columns as features
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix
X = df.drop(columns=['disposition', 'dataset'])
y = df['disposition']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
model = LogisticRegression(max_iter=1000)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
print(classification_report(y_test, y_pred))
print(confusion_matrix(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.66      0.66      0.66       798
           1       0.78      0.78      0.78      1223

    accuracy                           0.73      2021
   macro avg       0.72      0.72      0.72      2021
weighted avg       0.73      0.73      0.73      2021

[[528 270]
 [268 955]]